
<% if user_signed_in? %>

<table class="table table-sm table-hover">
  <thead >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Owner ID</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
      <tr class="table-primary table-hover">
        <td><%= link_to friend.first_name + " " + friend.last_name, friend %></td>
        <td><%= friend.user_id %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <% if friend.user == current_user %>
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Newbie', new_friend_path, class:"btn btn-secondary" %>

<% else %>

<h1><b> Welcome Homie </h1>

<% end %>